*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;; 
}

:root{
    --main-backgroung: #1e293b;
    --text-color:#ffff;
    --nav-background: #bae6fd;
}

body{
    background-color: var(--main-backgroung);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: center;
    align-items: center;
}

nav{
    background: var(--nav-background);
}